footer {
  display: flex;
  margin-top: 10.688rem;
  .footer-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $dark-blue;
    flex: 2;
    padding: 11px 44px 11px 0;
  }
  .footer-copyright {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #3ec6e0;
    flex: 7;
    padding-left: 2.75rem;
  }
}