@import '../general/variables';

header {
  display: flex;
  padding: 2.75rem;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 576px) {
    padding: 21px;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 2.688rem;
    .logo-rush {
      @media (max-width: 576px) {
        width: 6.688rem;
        height: 23px;
      }
    }
  }
  nav {
    display: flex;
    align-items: center;
    img {
      margin-left: 39px;
      @media (max-width: 576px) {
        margin-left: 16px;
      }
    }
    .icon {
      display: flex;
      a {
        display: flex;
        align-items: center;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        border-right: 1px solid $white;
        gap: 15px;
        &:hover {
          color: $blue;
          font-weight: bold;
        }
        @media (max-width: 932px) {
          border-right: none;
        }
        p {
          padding-right: 43px;
          margin: 7.5px 0;
          @media (max-width: 932px) {
            display: none;
          }
        }
      }
    }
    .shop {
      display: flex;
      align-items: center;
      .counter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        font-weight: 900;
        font-size: 14px;
        color: $white;
        background-color: $blue;
        border-radius: 25px;
        margin-left: 7px;
      }
    }
  }
}
